// *********** Home Styling **************

// Import Helpers
@use "../../helpers/variables" as var;

.home {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 9rem;

  .container {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}

.home-content {
  width: 60%;

  > span {
    font-size: 4rem;
    font-style: italic;
    color: var.$brand_color;
  }

  h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0.5rem 0;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var.$brand_color;
    margin-bottom: 3rem;
  }

  .btn {
    font-size: 1.9rem;
  }
}

.home-img {
  width: calc(40% - 3rem);
}

.home-social {
  position: absolute;
  bottom: 3rem;

  a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var.$brand_color;
    border-radius: 50%;
    font-size: 2rem;
    color: var.$brand_color;
    margin-right: 1.5rem;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: var.$brand_color;
      z-index: -1;
      transition: 0.3s;
    }

    &:hover {
      color: var.$bg_color;

      &::before {
        width: 100%;
      }
    }
  }
}
