// ************ About Styling **********

// Import Helpers
@use "../helpers/variables" as var;

.about {
  display: flex;
  align-items: center;
  background: var.$second_bg_color;

  .about-container {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  img {
    width: calc(40% - 4rem);
    border-radius: 8px;
    box-shadow: 0 0 2rem var.$bt_color;
  }
}

.about-content {
  width: 60%;

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 1rem 0 3rem;
  }
}

// *** Breakpoints ***

// xlarge Screen Styling
@media (min-width: 1200px) {
  .about img {
    width: 32%;
  }
  .about-content {
    h3 {
      font-size: 2.6rem;
    }
    p {
      font-size: 1.7rem;
    }
  }
}

// xxlarge Screen Styling
@media (min-width: 1400px) {
  .about-content {
    width: 55%;
  }
  .about .about-container {
    gap: 8rem;
  }
}
