// ============ About Styling ============

// Import Helpers
@use "../helpers/variables" as v;

.about {
  display: flex;
  align-items: center;
  background: v.$second_bg_color;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;

  img {
    width: 27%;
    border-radius: 8px;
    box-shadow: 0 0 2rem v.$bt_color;
  }
}

.about-content {
  width: 56%;

  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.7rem;
    font-style: italic;
    text-align: justify;
    margin: 1rem 0 3rem;
  }
}

// ==== Breakpoints ====

// xLarge Screen & Below Styling
@media (max-width: 1400px) {
  .about-container {
    gap: 4rem;

    img {
      width: calc(40% - 4rem);
    }
  }
}

// Large Screen & Below Styling
@media (max-width: 1200px) {
  .about-content {
    h3 {
      font-size: 2.8rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}
