// ============ Contact Styling ============

// Import Helpers
@use "../helpers/variables" as v;

.contact {
  padding-bottom: 5.3rem;

  h2 {
    margin-bottom: 2rem;
  }

  form {
    max-width: 85rem;
    margin: 0 auto 2.5rem;
    text-align: center;
  }

  .input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    input {
      width: calc(50% - 1rem);
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 1.6rem;
    margin-bottom: 2rem;
    background: v.$second_bg_color;
    border: 0.2rem solid #333;
    border-radius: 0.8rem;
    font-size: 1.8rem;
    color: v.$text_color;
    transition: 0.3s ease;

    &:focus {
      border-color: v.$brand_color;
    }
  }

  textarea {
    resize: none;
  }

  .btn {
    cursor: pointer;
  }
}

// ==== Breakpoints ====

// Large Screen & Below Styling
@media (max-width: 1200px) {
  .contact {
    padding-bottom: 6.4rem;
  }
}
