// ************ Header Styling **************

// Import Helpers
@use "../helpers/variables" as var;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: var.$bg_color;
  z-index: 100;

  &.sticky {
    border-bottom: 0.1rem solid var.$bt_color;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 2.7rem;
    font-weight: 600;
  }

  #menu-icon {
    font-size: 3.6rem;
    display: none;
  }
}

.navbar a {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-left: 4rem;
  transition: 0.3s;

  &:hover,
  &.active {
    color: var.$brand_color;
  }
}

// *** Breakpoints ***

// xlarge Screen Styling
@media (min-width: 1200px) {
  .header .logo {
    font-size: 2.5rem;
  }
  .navbar a {
    font-size: 1.6rem;
  }
}
