// About Styling

// import Helpers
@use "../../../helpers/variables" as var;

.about {
  display: flex;
  align-items: center;
  background: var.$second_bg_color;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}

.about-img {
  max-width: 40rem;
  width: 80%;

  img {
    border-radius: 8px;
    box-shadow: 0 0 2rem black;
  }
}

.about-content {
  max-width: 63rem;

  h2 {
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 1rem 0 3rem;
  }
}
